<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Gradery Counselor Checkin app, <%= @honorific %> <%= @name %></h1>
    <p>
      You have been signed up to your school.
      your random password is: <%= @password %>.<br>
    </p>
    <p>
      You may change the password to your account in the "My Profile" page after you login.
    </p>
    <p>Thanks,</p>
    <p>The Gradery Team</p>
  </body>
</html>